[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = https://github.com/jbub/ghostwriter.git
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/photo-grid"]
	path = themes/photo-grid
	url = https://github.com/Chen-Zhe/photo-grid.git
[submodule "themes/hugrid"]
	path = themes/hugrid
	url = https://github.com/aerohub/hugrid.git
[submodule "themes/newsroom"]
	path = themes/newsroom
	url = https://github.com/onweru/newsroom.git
[submodule "themes/creative"]
	path = themes/creative
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "themes/blondie"]
	path = themes/blondie
	url = https://github.com/opera7133/Blonde.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/Mitrichius/hugo-theme-anubis.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/your-identity/hugo-theme-dimension.git
[submodule "themes/console"]
	path = themes/console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "themes/photogrid"]
	path = themes/photogrid
	url = https://github.com/Chen-Zhe/photo-grid.git
[submodule "themes/hu-grid"]
	path = themes/hu-grid
	url = https://github.com/aerohub/hugrid.git
[submodule "themes/xmag"]
	path = themes/xmag
	url = https://github.com/yihui/hugo-xmag.git
